In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_cal = pd.read_csv('../data/calendar.csv')

In [3]:
df_cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,172196,2019-06-29,f,$350.00,$350.00,3,21
1,360,2019-06-29,f,$127.00,$127.00,2,29
2,360,2019-06-30,f,$127.00,$127.00,1,29
3,360,2019-07-01,f,$127.00,$127.00,1,29
4,360,2019-07-02,f,$127.00,$127.00,1,29

In [4]:
# Update 'price' to a float, removing $ and ,

df_cal['price'] = df_cal['price'].replace({'\$':'', ',':''}, regex = True).astype(float)

In [5]:
# Checking to make sure it's been updated correctly

df_cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646515 entries, 0 to 1646514
Data columns (total 7 columns):
listing_id        1646515 non-null int64
date              1646515 non-null object
available         1646515 non-null object
price             1646515 non-null float64
adjusted_price    1646515 non-null object
minimum_nights    1646515 non-null int64
maximum_nights    1646515 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 87.9+ MB

In [6]:
# Update 'date' to a datetime dtype

df_cal['date'] =  pd.to_datetime(df_cal['date'])

In [7]:
# Checking to make sure it's been done here, too

df_cal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646515 entries, 0 to 1646514
Data columns (total 7 columns):
listing_id        1646515 non-null int64
date              1646515 non-null datetime64[ns]
available         1646515 non-null object
price             1646515 non-null float64
adjusted_price    1646515 non-null object
minimum_nights    1646515 non-null int64
maximum_nights    1646515 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 87.9+ MB

In [8]:
df_cal.head(20)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,172196,2019-06-29,f,350.0,$350.00,3,21
1,360,2019-06-29,f,127.0,$127.00,2,29
2,360,2019-06-30,f,127.0,$127.00,1,29
3,360,2019-07-01,f,127.0,$127.00,1,29
4,360,2019-07-02,f,127.0,$127.00,1,29
5,360,2019-07-03,f,127.0,$127.00,1,29
6,360,2019-07-04,f,127.0,$127.00,1,29
7,360,2019-07-05,f,127.0,$127.00,1,29
8,360,2019-07-06,f,127.0,$127.00,2,29
9,360,2019-07-07,f,127.0,$127.00,1,29
10,360,2019-07-08,f,131.0,$131.00,1,29
11,360,2019-07-09,f,136.0,$136.00,1,29
12,360,2019-07-10,t,127.0,$127.00,1,29
13,360,2019-07-11,f,127.0,$127.00,1,29
14,360,2019-07-12,f,127.0,$127.00,1,29
15,360,2019-07-13,f,127.0,$127.00,2,29
16,360,2019-07-14,f,127.0,$127.00,1,29
17,360,2019-07-15,f,127.0,$127.00,1,29
18,360,2019-07-16,t,127.0,$127.00,1,29
19,360,2019-07-17,f,127.0,$127.00,1,29

In [9]:
# Noticed that the price was was super high for one day for this listing and was curious to see what it was
# https://www.airbnb.com/rooms/172196?source_impression_id=p3_1568327522_oQZAvrRhZ1VHoQnZ 
# Looked at his listing and it says that he's not there under "interaction w/ guests"

df_cal.loc[df_cal['listing_id'] == 172196]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,172196,2019-06-29,f,350.0,$350.00,3,21
150,172196,2019-06-30,f,350.0,$350.00,3,21
151,172196,2019-07-01,f,350.0,$350.00,3,21
152,172196,2019-07-02,f,350.0,$350.00,3,21
153,172196,2019-07-03,f,350.0,$350.00,3,21
154,172196,2019-07-04,f,350.0,$350.00,3,21
155,172196,2019-07-05,f,350.0,$350.00,3,21
156,172196,2019-07-06,f,350.0,$350.00,3,21
157,172196,2019-07-07,f,350.0,$350.00,3,21
158,172196,2019-07-08,f,350.0,$350.00,3,21
159,172196,2019-07-09,f,350.0,$350.00,3,21
160,172196,2019-07-10,f,350.0,$350.00,3,21
161,172196,2019-07-11,f,350.0,$350.00,3,21
162,172196,2019-07-12,f,350.0,$350.00,3,21
379,172196,2019-07-13,f,350.0,$350.00,3,21
380,172196,2019-07-14,f,350.0,$350.00,3,21
381,172196,2019-07-15,t,350.0,$350.00,3,21
382,172196,2019-07-16,f,350.0,$350.00,3,21
383,172196,2019-07-17,f,350.0,$350.00,3,21
384,172196,2019-07-18,f,350.0,$350.00,3,21
385,172196,2019-07-19,f,350.0,$350.00,3,21
386,172196,2019-07-20,f,350.0,$350.00,3,21
414,172196,2019-07-21,f,350.0,$350.00,3,21
415,172196,2019-07-22,f,350.0,$350.00,3,21
416,172196,2019-07-23,f,350.0,$350.00,3,21
417,172196,2019-07-24,f,350.0,$350.00,3,21
418,172196,2019-07-25,f,350.0,$350.00,3,21
419,172196,2019-07-26,f,350.0,$350.00,3,21
420,172196,2019-07-27,f,350.0,$350.00,3,21
421,172196,2019-07-28,f,350.0,$350.00,3,21
...,...,...,...,...,...,...,...
895,172196,2020-05-29,t,434.0,$434.00,3,21
896,172196,2020-05-30,t,435.0,$435.00,3,21
897,172196,2020-05-31,t,434.0,$434.00,3,21
898,172196,2020-06-01,t,434.0,$434.00,3,21
899,172196,2020-06-02,t,434.0,$434.00,3,21
900,172196,2020-06-03,t,434.0,$434.00,3,21
901,172196,2020-06-04,t,434.0,$434.00,3,21
902,172196,2020-06-05,t,434.0,$434.00,3,21
962,172196,2020-06-06,t,435.0,$435.00,3,21
963,172196,2020-06-07,t,434.0,$434.00,3,21
964,172196,2020-06-08,t,434.0,$434.00,3,21
965,172196,2020-06-09,t,434.0,$434.00,3,21
966,172196,2020-06-10,t,434.0,$434.00,3,21
967,172196,2020-06-11,t,434.0,$434.00,3,21
968,172196,2020-06-12,t,434.0,$434.00,3,21
969,172196,2020-06-13,t,435.0,$435.00,3,21
970,172196,2020-06-14,t,434.0,$434.00,3,21
971,172196,2020-06-15,t,434.0,$434.00,3,21
972,172196,2020-06-16,t,434.0,$434.00,3,21
973,172196,2020-06-17,t,434.0,$434.00,3,21
974,172196,2020-06-18,t,434.0,$434.00,3,21
975,172196,2020-06-19,t,434.0,$434.00,3,21
976,172196,2020-06-20,t,435.0,$435.00,3,21
977,172196,2020-06-21,t,434.0,$434.00,3,21
978,172196,2020-06-22,t,434.0,$434.00,3,21
979,172196,2020-06-23,t,434.0,$434.00,3,21
980,172196,2020-06-24,t,434.0,$434.00,3,21
981,172196,2020-06-25,t,434.0,$434.00,3,21
982,172196,2020-06-26,t,434.0,$434.00,3,21
983,172196,2020-06-27,t,435.0,$435.00,3,21

# Finding IDs that are in Five Points - Entire Home/Apt Info

In [10]:
df_calfivepoints = df_cal.copy()

In [11]:
# These are the listing ID's in Five Points that rent out the entire home/apt.

fivepointsID = [364,
 59631,
 732845,
 833937,
 1035821,
 1488774,
 1678845,
 2782048,
 3479122,
 3522681,
 3686629,
 3972450,
 4000181,
 4288813,
 4550588,
 4637460,
 4671735,
 4753876,
 4775222,
 4861034,
 5500958,
 5671300,
 6333040,
 6678066,
 6846954,
 7228382,
 7577128,
 7763814,
 7826191,
 8954951,
 8969110,
 9062588,
 9108143,
 9250245,
 9324713,
 9471950,
 9795040,
 9856869,
 10085578,
 10266757,
 10674874,
 11070296,
 11304012,
 11338921,
 11420270,
 11521979,
 12068403,
 12172692,
 12214224,
 12270856,
 12365447,
 12685709,
 12825349,
 12991472,
 13189674,
 13389533,
 13542997,
 13624842,
 13783439,
 13784513,
 13914386,
 14926765,
 15020580,
 15084761,
 15093485,
 15631740,
 15766497,
 15802763,
 15867861,
 15999220,
 16087125,
 16598808,
 17022504,
 17155851,
 17175148,
 17270985,
 17421723,
 17624530,
 18052024,
 18152418,
 18210614,
 18212628,
 18266504,
 18306546,
 18306843,
 18361467,
 18430968,
 18568473,
 18582812,
 18961512,
 19053449,
 19120025,
 19172798,
 19314022,
 19437073,
 19483443,
 19485187,
 19886132,
 20183056,
 20324521,
 20730936,
 20801760,
 20904798,
 20914531,
 20933983,
 20949075,
 21154162,
 21159516,
 21234034,
 21368746,
 21514625,
 21684780,
 21699081,
 21702745,
 21726072,
 21764943,
 21782254,
 21800713,
 21960159,
 22032668,
 22066433,
 22174342,
 22228495,
 22385914,
 22515364,
 22529249,
 22544289,
 22796161,
 22829544,
 22924845,
 22978126,
 23123917,
 23162498,
 23199150,
 23308643,
 23375866,
 23449000,
 23454667,
 23484590,
 23615985,
 23626064,
 23704321,
 23740719,
 23914815,
 23998934,
 24058066,
 24249285,
 24306031,
 24355823,
 24431795,
 24520787,
 24553188,
 24676921,
 24848902,
 24911417,
 24992798,
 25008400,
 25055975,
 25076034,
 25080971,
 25195731,
 25341751,
 25476150,
 25549940,
 25597429,
 25841044,
 25976175,
 26130771,
 26277831,
 26326152,
 26328157,
 26333386,
 26500661,
 26530949,
 26591171,
 26671425,
 26692897,
 26873329,
 26923401,
 27164527,
 27359005,
 27455846,
 27481744,
 27764561,
 27897726,
 28014823,
 28016001,
 28052525,
 28076345,
 28221810,
 28272425,
 28437926,
 28457367,
 28495044,
 28544261,
 28560865,
 28581318,
 28617385,
 28658834,
 28666014,
 28712860,
 28785706,
 29063041,
 29186188,
 29359310,
 29390422,
 29740342,
 29905999,
 29994543,
 29997430,
 30011181,
 30109062,
 30348710,
 30540098,
 30585828,
 30666318,
 30715023,
 30824777,
 31039806,
 31117836,
 31144161,
 31165349,
 31172376,
 31330099,
 31490273,
 31520721,
 32067971,
 32138363,
 32171255,
 32304313,
 32380513,
 32385444,
 32401372,
 32465459,
 32498162,
 32748761,
 32789642,
 33010976,
 33161069,
 33252906,
 33255405,
 33341740,
 33343673,
 33376633,
 33448646,
 33801661,
 33908848,
 33969064,
 34080275,
 34372290,
 34392387,
 34470134,
 34472104,
 34480945,
 34515570,
 34565913,
 34645020,
 34748713,
 35191778,
 35509441,
 35535425,
 35538823,
 35796281,
 35828919,
 35940725,
 36070559,
 36109052]

In [12]:
# verifying they're both integers

x = fivepointsID[0]
x
type(x)

int

In [13]:
# verifying they're both integers

df_calfivepoints.dtypes

listing_id                 int64
date              datetime64[ns]
available                 object
price                    float64
adjusted_price            object
minimum_nights             int64
maximum_nights             int64
dtype: object

In [14]:
df_calfivepoints.shape

(1646515, 7)

In [15]:
df_cal.shape

(1646515, 7)

In [16]:
df_cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,172196,2019-06-29,f,350.0,$350.00,3,21
1,360,2019-06-29,f,127.0,$127.00,2,29
2,360,2019-06-30,f,127.0,$127.00,1,29
3,360,2019-07-01,f,127.0,$127.00,1,29
4,360,2019-07-02,f,127.0,$127.00,1,29

In [17]:
# Use same for loop from List - to pull listing id from five points

df_fivepointsonlycal = pd.DataFrame()

for listingID in fivepointsID:
    temp = df_calfivepoints[df_calfivepoints.listing_id == listingID]
    df_fivepointsonlycal = df_fivepointsonlycal.append(temp)

In [18]:
df_fivepointsonlycal.shape

(97455, 7)

In [19]:
df_fivepointsonlycal

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
387,364,2019-06-29,f,179.0,$179.00,185,190
388,364,2019-06-30,f,179.0,$179.00,185,190
389,364,2019-07-01,f,179.0,$179.00,185,190
390,364,2019-07-02,f,179.0,$179.00,185,190
391,364,2019-07-03,f,179.0,$179.00,185,190
392,364,2019-07-04,f,179.0,$179.00,185,190
393,364,2019-07-05,f,179.0,$179.00,185,190
394,364,2019-07-06,f,179.0,$179.00,185,190
395,364,2019-07-07,f,179.0,$179.00,185,190
396,364,2019-07-08,f,179.0,$179.00,185,190
397,364,2019-07-09,f,179.0,$179.00,185,190
398,364,2019-07-10,f,179.0,$179.00,185,190
399,364,2019-07-11,f,179.0,$179.00,185,190
400,364,2019-07-12,f,179.0,$179.00,185,190
401,364,2019-07-13,f,179.0,$179.00,185,190
402,364,2019-07-14,f,179.0,$179.00,185,190
403,364,2019-07-15,f,179.0,$179.00,185,190
404,364,2019-07-16,f,179.0,$179.00,185,190
405,364,2019-07-17,f,179.0,$179.00,185,190
406,364,2019-07-18,f,179.0,$179.00,185,190
407,364,2019-07-19,f,179.0,$179.00,185,190
408,364,2019-07-20,f,179.0,$179.00,185,190
409,364,2019-07-21,f,179.0,$179.00,185,190
410,364,2019-07-22,f,179.0,$179.00,185,190
411,364,2019-07-23,f,179.0,$179.00,185,190
412,364,2019-07-24,f,179.0,$179.00,185,190
413,364,2019-07-25,f,179.0,$179.00,185,190
443,364,2019-07-26,f,179.0,$179.00,185,190
444,364,2019-07-27,f,179.0,$179.00,185,190
445,364,2019-07-28,f,179.0,$179.00,185,190
...,...,...,...,...,...,...,...
1615075,36109052,2020-05-29,f,170.0,$170.00,2,30
1615076,36109052,2020-05-30,f,170.0,$170.00,2,30
1615077,36109052,2020-05-31,f,170.0,$170.00,2,30
1615078,36109052,2020-06-01,f,170.0,$170.00,2,30
1615079,36109052,2020-06-02,f,170.0,$170.00,2,30
1615080,36109052,2020-06-03,f,170.0,$170.00,2,30
1615081,36109052,2020-06-04,f,170.0,$170.00,2,30
1615082,36109052,2020-06-05,f,170.0,$170.00,2,30
1615083,36109052,2020-06-06,f,170.0,$170.00,2,30
1615084,36109052,2020-06-07,f,170.0,$170.00,2,30
1615085,36109052,2020-06-08,f,170.0,$170.00,2,30
1615086,36109052,2020-06-09,f,170.0,$170.00,2,30
1615087,36109052,2020-06-10,f,170.0,$170.00,2,30
1615088,36109052,2020-06-11,f,170.0,$170.00,2,30
1615089,36109052,2020-06-12,f,170.0,$170.00,2,30
1615090,36109052,2020-06-13,f,170.0,$170.00,2,30
1615091,36109052,2020-06-14,f,170.0,$170.00,2,30
1615092,36109052,2020-06-15,f,170.0,$170.00,2,30
1615093,36109052,2020-06-16,f,170.0,$170.00,2,30
1615094,36109052,2020-06-17,f,170.0,$170.00,2,30
1615095,36109052,2020-06-18,f,170.0,$170.00,2,30
1615096,36109052,2020-06-19,f,170.0,$170.00,2,30
1615097,36109052,2020-06-20,f,170.0,$170.00,2,30
1615098,36109052,2020-06-21,f,170.0,$170.00,2,30
1615099,36109052,2020-06-22,f,170.0,$170.00,2,30
1615100,36109052,2020-06-23,f,170.0,$170.00,2,30
1615101,36109052,2020-06-24,f,170.0,$170.00,2,30
1615102,36109052,2020-06-25,f,170.0,$170.00,2,30
1615103,36109052,2020-06-26,f,170.0,$170.00,2,30
1615104,36109052,2020-06-27,f,170.0,$170.00,2,30

In [20]:
# The listing.csv has the following columns for the room nights. I was looking to see if I needed to include the
# calendar.csv min/max night stays when cleaning the DF. The listing.cvs's will suffice.

# Column options for # of nights stay:
# minimum_nights                                  int64
# maximum_nights                                  int64
# minimum_minimum_nights                          int64
# maximum_minimum_nights                          int64
# minimum_maximum_nights                          int64
# maximum_maximum_nights                          int64
# minimum_nights_avg_ntm                          float64
# maximum_nights_avg_ntm                          float64

df_fivepointsonlycal.groupby(['listing_id'])['minimum_nights','maximum_nights'].max()

# But this is also where I realized that people are leaving their homes home for up to 3 years in advance and some have a 3 month minimum stay.

            minimum_nights  maximum_nights
listing_id
364                    185             190
59631                    1            1125
732845                   3              21
833937                   2              30
1035821                  1            1825
1488774                 45            1125
1678845                  2            1125
2782048                  3              28
3479122                  1            1125
3522681                 30            1125
3686629                  2            1125
3972450                  1              20
4000181                180            1125
4288813                  2            1124
4550588                  1            1125
4637460                  2            1125
4671735                 90            1125
4753876                  2            1125
4775222                  4              11
4861034                  2            1125
5500958                  2              90
5671300                  3            1125
6333040                  1            1125
6678066                  2               8
6846954                  2            1125
7228382                  2            1125
7577128                  1              45
7763814                  3            1125
7826191                  2            1125
8954951                  2            1125
...                    ...             ...
33010976                30            1125
33161069                 1            1125
33252906                 5             120
33255405                 1            1125
33341740                 4              27
33343673                 2              14
33376633                 2             999
33448646                 7              30
33801661                28            1125
33908848                 3            1125
33969064                 2              14
34080275                30              30
34372290                 1            1125
34392387                 2              12
34470134                 1            1125
34472104                 1              15
34480945                 2            1125
34515570                 1            1125
34565913                 1            1125
34645020                 3             365
34748713                 1            1125
35191778                30            1125
35509441                 2            1125
35535425                 2            1125
35538823                 2            1125
35796281                 2               7
35828919                 3              28
35940725                 1              28
36070559                 2              16
36109052                 2              30

[267 rows x 2 columns]

In [21]:
# Looking more closely at the listing w/ 3 year max availability

df_fivepointsonlycal.loc[df_fivepointsonlycal['listing_id'] == 59631]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
8076,59631,2019-06-29,f,149.0,$149.00,1,1125
8077,59631,2019-06-30,f,149.0,$149.00,1,1125
8078,59631,2019-07-01,t,149.0,$149.00,1,1125
8079,59631,2019-07-02,f,149.0,$149.00,1,1125
8080,59631,2019-07-03,f,149.0,$149.00,1,1125
8081,59631,2019-07-04,f,149.0,$149.00,1,1125
8082,59631,2019-07-05,f,149.0,$149.00,1,1125
8083,59631,2019-07-06,f,149.0,$149.00,1,1125
8084,59631,2019-07-07,f,149.0,$149.00,1,1125
8085,59631,2019-07-08,f,149.0,$149.00,1,1125
8086,59631,2019-07-09,f,149.0,$149.00,1,1125
8087,59631,2019-07-10,f,149.0,$149.00,1,1125
8465,59631,2019-07-11,f,149.0,$149.00,1,1125
8466,59631,2019-07-12,f,149.0,$149.00,1,1125
8467,59631,2019-07-13,f,149.0,$149.00,1,1125
8468,59631,2019-07-14,f,149.0,$149.00,1,1125
8469,59631,2019-07-15,t,149.0,$149.00,1,1125
8470,59631,2019-07-16,t,149.0,$149.00,1,1125
8471,59631,2019-07-17,t,149.0,$149.00,1,1125
8472,59631,2019-07-18,f,149.0,$149.00,1,1125
8473,59631,2019-07-19,f,149.0,$149.00,1,1125
8474,59631,2019-07-20,f,149.0,$149.00,1,1125
8475,59631,2019-07-21,f,149.0,$149.00,1,1125
8476,59631,2019-07-22,f,149.0,$149.00,1,1125
8477,59631,2019-07-23,f,149.0,$149.00,1,1125
8478,59631,2019-07-24,t,149.0,$149.00,1,1125
8479,59631,2019-07-25,f,149.0,$149.00,1,1125
8480,59631,2019-07-26,f,149.0,$149.00,1,1125
8481,59631,2019-07-27,f,149.0,$149.00,1,1125
8482,59631,2019-07-28,f,149.0,$149.00,1,1125
...,...,...,...,...,...,...,...
8788,59631,2020-05-29,t,190.0,$190.00,1,1125
8789,59631,2020-05-30,t,190.0,$190.00,1,1125
8790,59631,2020-05-31,t,190.0,$190.00,1,1125
8791,59631,2020-06-01,t,190.0,$190.00,1,1125
8792,59631,2020-06-02,t,190.0,$190.00,1,1125
8793,59631,2020-06-03,t,190.0,$190.00,1,1125
8794,59631,2020-06-04,t,190.0,$190.00,1,1125
8795,59631,2020-06-05,t,190.0,$190.00,1,1125
8796,59631,2020-06-06,t,190.0,$190.00,1,1125
8797,59631,2020-06-07,t,190.0,$190.00,1,1125
8798,59631,2020-06-08,t,190.0,$190.00,1,1125
8799,59631,2020-06-09,t,190.0,$190.00,1,1125
8800,59631,2020-06-10,t,190.0,$190.00,1,1125
8801,59631,2020-06-11,t,190.0,$190.00,1,1125
8802,59631,2020-06-12,t,190.0,$190.00,1,1125
8803,59631,2020-06-13,t,190.0,$190.00,1,1125
8804,59631,2020-06-14,t,190.0,$190.00,1,1125
8805,59631,2020-06-15,t,190.0,$190.00,1,1125
8806,59631,2020-06-16,t,190.0,$190.00,1,1125
8807,59631,2020-06-17,t,190.0,$190.00,1,1125
8808,59631,2020-06-18,t,190.0,$190.00,1,1125
8809,59631,2020-06-19,t,190.0,$190.00,1,1125
8810,59631,2020-06-20,t,190.0,$190.00,1,1125
8811,59631,2020-06-21,t,190.0,$190.00,1,1125
8812,59631,2020-06-22,t,190.0,$190.00,1,1125
8813,59631,2020-06-23,t,190.0,$190.00,1,1125
8814,59631,2020-06-24,t,190.0,$190.00,1,1125
8815,59631,2020-06-25,t,190.0,$190.00,1,1125
8816,59631,2020-06-26,t,190.0,$190.00,1,1125
8817,59631,2020-06-27,t,190.0,$190.00,1,1125

In [22]:
df_fivepointsonlycal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
387,364,2019-06-29,f,179.0,$179.00,185,190
388,364,2019-06-30,f,179.0,$179.00,185,190
389,364,2019-07-01,f,179.0,$179.00,185,190
390,364,2019-07-02,f,179.0,$179.00,185,190
391,364,2019-07-03,f,179.0,$179.00,185,190

In [23]:
df_fivepointsavail = df_fivepointsonlycal[['listing_id','date','price','minimum_nights','maximum_nights']].copy()

In [24]:
df_fivepointsavail.head()

     listing_id       date  price  minimum_nights  maximum_nights
387         364 2019-06-29  179.0             185             190
388         364 2019-06-30  179.0             185             190
389         364 2019-07-01  179.0             185             190
390         364 2019-07-02  179.0             185             190
391         364 2019-07-03  179.0             185             190

In [25]:
# Making sure I have the same number of rows as I did in the list of Five Points listing IDs.... and I do.

df_fivepointsavail.groupby(['listing_id'])['minimum_nights','maximum_nights'].max()

            minimum_nights  maximum_nights
listing_id
364                    185             190
59631                    1            1125
732845                   3              21
833937                   2              30
1035821                  1            1825
1488774                 45            1125
1678845                  2            1125
2782048                  3              28
3479122                  1            1125
3522681                 30            1125
3686629                  2            1125
3972450                  1              20
4000181                180            1125
4288813                  2            1124
4550588                  1            1125
4637460                  2            1125
4671735                 90            1125
4753876                  2            1125
4775222                  4              11
4861034                  2            1125
5500958                  2              90
5671300                  3            1125
6333040                  1            1125
6678066                  2               8
6846954                  2            1125
7228382                  2            1125
7577128                  1              45
7763814                  3            1125
7826191                  2            1125
8954951                  2            1125
...                    ...             ...
33010976                30            1125
33161069                 1            1125
33252906                 5             120
33255405                 1            1125
33341740                 4              27
33343673                 2              14
33376633                 2             999
33448646                 7              30
33801661                28            1125
33908848                 3            1125
33969064                 2              14
34080275                30              30
34372290                 1            1125
34392387                 2              12
34470134                 1            1125
34472104                 1              15
34480945                 2            1125
34515570                 1            1125
34565913                 1            1125
34645020                 3             365
34748713                 1            1125
35191778                30            1125
35509441                 2            1125
35535425                 2            1125
35538823                 2            1125
35796281                 2               7
35828919                 3              28
35940725                 1              28
36070559                 2              16
36109052                 2              30

[267 rows x 2 columns]